/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 3fr 0.5fr;
    grid-template-areas: "header header header"
                "main main main"
                "footer footer footer";
}

header{
    grid-area:header ;
    background-color: #efb810;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    
    color: #0a0a0a;
}

main{
    grid-area:main ;
    background-color: #0a0a0a;
}
p{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 1.4rem;
}
.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px; 
}
.datos{
    text-align: center;
    border-width: 3px;
    padding: 5px;
    border-color: #0a0a0a;
    border-radius: 0.2rem;
    outline:none;
    border:0;
    margin-left: 0.4rem;
}
.iniciar, .calcular{
   background-color: #f3c332;
   color: #0a0a0a;
   font-weight: bold;
   padding: 5px;
   margin-left: 10px;
   border-radius: 0.4rem;
   cursor: pointer;
}

.nombre{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-weight: bolder;
    color: whitesmoke;
}

.resultado{
    font-size: 2.5rem;
}

footer{
    grid-area:footer ;
    background-color: #d4a413;
    display: flex;
    justify-content: center;
    align-items: center;
}

